.exercise-box {
    background-color: rgba(255, 184, 184, 0.623);
    padding: 10px;
    border-radius: 10px;
    min-width: 500px;

}

.visual {
    max-width:400px;
    min-height: 100px;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
}
img {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 400px;
    background-position: center;
    
}